/******************************************************************
Stylesheet: Variables
******************************************************************/
$base-font-size:    16;
$base-line-height:  28;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;
$grey:              #ccc;
