/******************************************************************
Stylesheet: Variables
******************************************************************/
$base-font-size:    18;
$base-line-height:  32;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #484844;
$white:             #fff;
$grey:              #ccc;
$yellow:            #FFCF60;
$green:             #43DA5C;
$blue:              #08152b;
$brown:             #2a2d34;
