/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name: LINX by STUDIO YCNE
Author: Yacine Belarbi

Stylesheet: Main Stylesheet

******************************************************************/

@import "partials/normalize";
@import "partials/variables";                      // Sass variables
@import "partials/vertical-spacing";               // vertical spacing
@import "partials/mixins";                         // import mixins
@import "partials/breakpoints";                    // Breakpoints
@import "../fonts/fonts";                          // fonts import
@import "../fonts/material-icons/material-icons";  // fonts import
@import "../fonts/role-icons/role-icons";  // fonts import
@import "partials/typography";                     // typography
@import "partials/grid";                           // the grid
@import "modules/buttons";                         // buttons
@import "modules/forms";                           // forms (inputs & labels)

/******************************************************************
BASE
******************************************************************/

html {
  @include font-size($base-font-size*0.75,$base-line-height);
  font-family: $sans-serif;
  color: $black;
  @include for-size("phone-upper-boundary"){
    @include font-size($base-font-size,$base-line-height);
  }
}

.inner-wrap {
  @include clearfix;
  max-width: 1200px;
  margin: 0 20px;

  @include for-size("tablet-landscape-up"){
    margin: 0 auto;
  }
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

%no-link {
   pointer-events: none;
   cursor: default;
}

#content { position: relative; }

h1 {
  @include font-size(92px);
  line-height: 1.1;
  letter-spacing: 1px;
  font-weight: bold;
}

/******************************************************************
HEADER
******************************************************************/

.header {
  position: relative;
  z-index: 10;
}

/**************************
HEADER LINKS
**************************/
#menu-header-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 15px 0;

  @include for-size('tablet-portrait-up'){
    flex-direction: row;
  }

  li {
    align-self: center;
    margin-bottom: 10px;

    @include for-size('tablet-portrait-up'){
      & + li { margin-left: 25px; margin-bottom: 0; }
    }

    &.blog-link,
    &.menu-item-has-children {
      @include for-size('phone-only'){
        display: none;
      }
    }
  }

  li.no-link > a { @extend %no-link; }

  // Regular links
  li:not(.no-link) {
    text-transform: uppercase;
    letter-spacing: 1px;

    a:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Button
  .button.looking-for-staff a {
    @extend %button;
    @include button-bg($yellow);

    i {
      font-size: 14px;
      vertical-align: sub;
      margin-left: 5px;
      &:before {
        content:"people";
      }
    }
  }

  .button.looking-for-work a {
    @extend %button;
    @include button-bg(#fff);
    color: $black;
    border: 1px solid #ddd;

    i {
      font-size: 14px;
      vertical-align: sub;
      margin-left: 5px;
      &:before {
        content:"work";
      }
    }
  }

  .menu-item-has-children {
    position: relative;
    ul {
      display: none;
      min-width: 90px;
      position: absolute;
      top: 100%;
      left: -19px;
      transform: translateY(0%);
      background: #fff;
      box-shadow: 0 0 2px #ddd;

      li {
        margin: 0;
      }

      a {
        padding: 10px 20px;
        display: block;
        &:hover {
          background: #f2f2f2;
          text-decoration: none;
        }
      }
    }

    > a i {
      font-size: 24px;
      vertical-align: middle;
      margin-left: 5px;
      color: $green;
      &:before {
        content:"keyboard_arrow_down";
      }
    }

    &:hover ul {
      display: block;
    }
  }
}


/******************************************************************
MAIN NAVIGATION
******************************************************************/

@keyframes fallDown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0%);}
}

@keyframes fallUp {
  from {transform: translateY(0%);}
  to {transform: translateY(-100%);}
}

.menu-main-nav {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 15px 0;
  transform: translate3d(0,0,0);

  &.sticky {
    background: #fff;
    position: fixed;
    top: -100%;
    box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.09);

    a {
      color: $green;
    }

    li.main-nav-link--logo a {
      background-image: url("../images/logo--green.png");
    }
  }

  ul {
    @extend .inner-wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li {
    flex: 0 0 auto;
    margin: 0 30px;
  }

  a {
    color: $white;
    @include font-size(20px);
    letter-spacing: 1px;
    border-bottom: 3px solid transparent;
    padding-bottom: 8px;
    transition: all 0.2s;

    &:hover {
      padding-bottom: 6px;
      text-decoration: none;
      border-bottom: 3px solid #fff;
    }
  }

  li.main-nav-link--logo,
  li.main-nav-link--login {
    flex: 1 1 100%;
    margin: 0;
  }

  li.main-nav-link--login {
    text-align: right;

    a {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include font-size(14px);
    }

    i {
      font-size: 14px;
      vertical-align: text-top;
      margin-left: 5px;
      &:before {
        content:"person";
      }
    }
  }

  li.main-nav-link--logo a {
    width: 110px;
    height: 40px;
    background: url("../images/logo--white.png") no-repeat;
    background-size: contain;
    display: inline-block;
    text-indent: -99999px;

    &:hover { border-bottom-color: transparent; }
  }
}

/******************************************************************
HOMEPAGE HERO
******************************************************************/

section[class^="homepage--"] {
  margin-bottom: 120px;
}

.homepage--hero {
  background: #fff;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;

  .inner-wrap {
    position: relative;
    flex: 1 1 auto;
  }

  .homepage--hero-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
  }

  p {
    @include font-size(28px,true);
    font-weight: 100;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.9;
  }
}

/******************************************************************
HOMEPAGE SECTION TEXT BANNER
******************************************************************/

.homepage--text-banner {
  text-align: center;

  h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size(14px);
    font-weight: bold;
    color: #9B9B9B;
  }

  p {
    @include font-size(36px,true);
    font-weight: 100;
    max-width: 80%;
    margin: 0 auto;
  }
}

/******************************************************************
HOMEPAGE SECTION CAROUSEL
******************************************************************/

.homepage--carousel {
  // background: orange;

  &.active {
    // z-index: 2;
    // .carousel__feature__rightcol { position: fixed !important; }
  }
}

.homepage--carousel__feature {
  @include clearfix;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0vh 0 15vh;
  width: 100%;
  height: 100%;
  position: relative;

  @include for-size('tablet-portrait-up'){
    flex-direction: row;
    padding: 0vh 0 25vh;
  }

  h3 {
    font-size: 36px;
    line-height: 1.4;
  }

  p {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.7;
  }

  .carousel__feature__leftcol {
    text-align: center;
    flex:  0 0 40%;
    position: relative;
    align-self: center;

    @include for-size('tablet-portrait-up'){
      padding: 0 0 0 20%;
      text-align: left;
    }
  }

  .carousel__feature__rightcol {

    @include for-size('tablet-portrait-up'){
      width: 50vw;
      position: relative;
      top: 0%;
      left: 8%;
    }

    img {
      max-width: 100%;
      width: 100%;
      @include for-size('tablet-portrait-up'){
        width: 70%;
      }
    }
  }
}

.homepage--carousel__feature.screen-desktop {
  flex-wrap: wrap;

  .carousel__feature__leftcol {
    flex: 0 0 50%;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    @include for-size('tablet-portrait-up'){
      order: 2;
    }
  }
  .carousel__feature__rightcol {
    flex: 1 1 100%;
    left: 0;

    @include for-size('tablet-portrait-up'){
      order: 1;
    }

    img {
      width: 100%;
    }
  }
}

.homepage--jobs {
  .inner-wrap {
    max-width: 820px;
  }
}

.job-listing {
  @include clearfix;
  padding: 25px 0;
  border-top: 1px solid #F2F2F2;

  &:last-child {
    border-bottom: 1px solid #F2F2F2;
  }

  .job-listing__image {
    @extend .role-icon;
    float: left;
    width: 70px;
    height: 58px;
    margin-right: 30px;
    font-size: 58px;
    line-height: 1;
    text-align: center;
  }

  .job-listing__text {
    overflow: hidden;
  }
}

.job-listing__text {
  @include clearfix;

  .job-listing__title { float: left; }
  .job-listing__location { float: left; }
  .job-listing__salary { float: right; }
  .job-listing__category { clear: left; float: left; }
  p { overflow: hidden; font-weight: 100; @include font-size(14px); height: 24px; margin: 0; }
}

.job-listing__title {
  @include font-size(32px);
  font-weight: 100;
  margin: 0 10px 10px 0;
}

.job-listing__category {
  @include font-size(14px);
  margin: 0 10px 0 0;
  font-weight: 400;
}

.job-listing__location {
  @include font-size(32px);
  color: #B8B6B8;
  font-weight: 100;
  text-transform: capitalize;
}

.job-listing__salary {
  &:before { content:"CHF "; }
  &:after { content:"/Hour"; }

  @include font-size(14px);
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  color: $green;
  letter-spacing: 1px;
}


/******************************************************************
FOOTER LINKS
******************************************************************/

.footer {
  padding: 40px 0;
  background: #000;
}

.footer-links .nav {
  display: flex;
  flex-direction: column;

  @include for-size("tablet-landscape-up"){
    flex-direction: row;
  }

  li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size(12px);
  }

  // Column labels. They are just special links
  li.no-link > a {
    @extend %no-link;
    font-weight: bold;
    color: #424242;
    display: block;

    @include for-size("tablet-landscape-up"){
      margin-bottom: 35px;
    }
  }



  li {
    flex: 1 1 auto;
  }
}
