/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name: LINX by STUDIO YCNE
Author: Yacine Belarbi

Stylesheet: Main Stylesheet

******************************************************************/

@import "partials/normalize";
@import "partials/variables";                      // Sass variables
@import "partials/vertical-spacing";               // vertical spacing
@import "partials/mixins";                         // import mixins
@import "partials/breakpoints";                    // Breakpoints
@import "../fonts/fonts";                          // fonts import
@import "../fonts/material-icons/material-icons";  // fonts import
@import "../fonts/role-icons/role-icons";  // fonts import
@import "partials/typography";                     // typography
@import "partials/grid";                           // the grid
@import "modules/buttons";                         // buttons
@import "modules/forms";                           // forms (inputs & labels)
@import "admin";                                   // forms (inputs & labels)

/******************************************************************
BASE
******************************************************************/

html {
  @include font-size($base-font-size*0.75,$base-line-height);
  font-family: $sans-serif;
  color: $black;

  @include for-size("tablet-portrait-up"){
    @include font-size($base-font-size,$base-line-height);
  }
}

.inner-wrap {
  @include clearfix;
  max-width: 1200px;
  margin: 0 20px;

  @include for-size("desktop-up"){
    margin: 0 auto;
  }
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

%no-link {
   pointer-events: none;
   cursor: default;
}

#content { position: relative; }

h1 {
  @include font-size(52px);
  line-height: 1.1;
  letter-spacing: -2px;
  font-weight: bold;

  @include for-size('tablet-portrait-up'){
    @include font-size(92px);
  }

}

h2 {
  @include font-size(42px,true);
  font-weight: 100;

  @include for-size('tablet-portrait-up'){
    @include font-size(54px,true);
  }
}

h3 {
  @include font-size(26px,true);
  font-weight: 100;
}

h4 {
  @include font-size(22px);
  font-weight: 100;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

h5 {
  @include font-size(18px);
  font-weight: 100;
}

ul {
  // padding: 0 0 0 40px;
  margin: 1em 0;
  list-style: disc;
}

a {
  font-weight: 400;
  text-decoration: underline;
}

/******************************************************************
HEADER
******************************************************************/

.header {
  position: relative;
  // z-index: 99999;
}

@mixin menu-with-children() {
  position: relative;
  ul {
    display: none;
    min-width: 90px;
    position: absolute;
    top: 100%;
    left: -19px;
    transform: translateY(0%);
    background: #fff;
    box-shadow: 0px 20px 46px 0px rgba(0, 0, 0, 0.15);

    li {
      margin: 0;
      border-bottom: 1px solid #f3f3f3;
      &:last-child { border: none; }
    }

    a {
      padding: 10px 20px;
      display: block;
      &:hover {
        background: #f2f2f2;
        text-decoration: none;
      }
    }
  }

  > a i {
    font-size: 24px;
    vertical-align: middle;
    margin-left: 5px;
    color: $green;
    &:before {
      content:"keyboard_arrow_down";
    }
  }

  &:hover ul {
    display: block;
  }
}

.mobile-background {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

#mobile-navigation-wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: $white;
  padding: 13px 20px 0;
  transform: translate(-100%,0);

  ul { list-style: none; margin: 0; }

  .close-button {
    @extend .material-icons;
    font-size: 19px;
  }

  a {
    @include font-size(20px,true);
    font-weight: bold;
    text-decoration: none;
    padding: 0 0 11px;
    display: inline-block;
  }

  li.link--small {

    a {
      @include font-size(14px,true);
      font-weight: 400;
    }
  }

  li:nth-child(5) {
    padding-top: 30px;
  }

  .menu-item-has-children {
    > a { display: none; }

    ul {
      list-style: none;
      margin: 0;
    }

    li {
      display: inline-block;
      &:after {
        content:"/";
        margin-right: 2px;
        opacity: 0.2;
      }
    }

    a {
      @include font-size(14px,true);
      font-weight: 400;
      padding-right: 5px;
      text-transform: capitalize;
    }
  }
}

/**************************
HEADER LINKS
**************************/
.header-links .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 15px 0;

  @include for-size('tablet-portrait-up'){
    flex-direction: row;
  }

  li {
    align-self: center;

    @include for-size('phone-only'){
      margin-bottom: 10px;
    }

    @include for-size('tablet-portrait-up'){
      & + li { margin-left: 25px; }
    }

    &.blog-link,
    &.menu-item-has-children {
      @include for-size('phone-only'){
        display: none;
      }
    }
  }

  a { text-decoration: none; }

  li.no-link > a { @extend %no-link; font-weight: 100; }

  // Regular links
  li:not(.no-link) {
    text-transform: uppercase;
    letter-spacing: 1px;

    a:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Button
  .button.looking-for-staff a {
    @extend %button;
    @include button-bg($green);

    i {
      font-size: 19px;
      vertical-align: middle;
      margin-left: 5px;
      &:before {
        content:"people";
      }
    }
  }

  .button.looking-for-work a {
    @extend %button;
    @include button-bg(#fff);
    color: $black;
    border: 1px solid #ddd;

    i {
      font-size: 19px;
      vertical-align: middle;
      margin-left: 5px;
      &:before {
        content:"work";
      }
    }
  }

  .menu-item-has-children {
    @include menu-with-children;
    a {
      padding: 37px 0;
    }

    ul {
      top: calc(100% + 32px);
    }
  }
}


/******************************************************************
MAIN NAVIGATION
******************************************************************/

.menu-main-nav {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px 0;
  transform: translate3d(0,0,0);

  @include for-size('tablet-portrait-up'){
    top: 20px;
  }

  ul {
    @extend .inner-wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  li {
    flex: 0 0 auto;
    margin: 0 30px;
    display: none;
    line-height: 1;

    @include for-size('tablet-portrait-up'){
      display: block;
    }
  }

  a {
    color: $white;
    @include font-size(20px);
    letter-spacing: 1px;
    border-bottom: 3px solid transparent;
    padding: 11px 0 6px;
    transition: all 0.2s;
    text-decoration: none;
    display: inline-block;

    &:hover {
      text-decoration: none;
      border-bottom-color: $white;
    }
  }

  li.current-menu-item a { border-bottom: 3px solid #fff; }
  li.main-nav-link--register { display: none; }

  li.main-nav-link--logo,
  li.main-nav-link--login {
    flex: 1 1 100%;
    margin: 0;
  }

  li.main-nav-link--login,
  li.main-nav-link--register {
    text-align: right;

    a {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include font-size(14px);
    }

    i {
      font-size: 19px;
      vertical-align: middle;
      margin-left: 5px;
      &:before {
        content:"person";
      }
    }
  }

  li.main-nav-link--logo {
    display: block;
    flex: 0 0 auto;
    margin: 0 auto;

    @include for-size('tablet-portrait-up'){
      flex: 1 1 100%;
    }

    a {
      width: 60px;
      height: 21px;
      border: none;
      background: url("../images/logo--white.png") no-repeat;
      background-size: contain;
      display: inline-block;
      text-indent: -99999px;

      @include for-size('tablet-portrait-up'){
        width: 110px;
        height: 40px;
      }

      &:hover { border-bottom-color: transparent; }
    }
  }

  li.menu-item-has-children {
    @include menu-with-children;

    a {
      text-transform: uppercase;
      border: none;
    }
  }

  li.main-nav-link--mobile {
    display: block;
    margin: 0;
    @include for-size('tablet-portrait-up'){
      display: none;
    }

    a {
      @extend .material-icons;
      font-size: 19px;
      padding: 0;
      border: none !important;
    }
  }

}

.menu-main-nav.sticky {
  background: #fff;
  position: fixed;
  padding: 12px 0;
  top: -100%;
  box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.09);

  a {
    color: $green;
    display: inline;
    &:hover {
      border-color: $green;
    }
  }

  li.menu-item-has-children {
    display: none;
     @include for-size('tablet-portrait-up'){
       display: block;
     }
   }

  li.menu-item-has-children {
    flex: 1 1 100%;
    text-align: right;
    margin: 0;
    > a {
      color: #ccc;
      padding: 32px 0;
      i.material-icons { color: #eee; }
    }

    .sub-menu {
      top: calc(100% + 23px);
      right: -16px;
      left: auto;
      text-align: left;
      padding: 0;
    }
    .sub-menu a {
      padding: 18px 20px;
      color: #ccc;
    }
  }

  li.main-nav-link--logo {
    margin: 0;
    @include for-size('phone-only'){
      height: 21px;
      display: none;
    }

    a {
      padding: 0;
      border: none;
      margin: 0;
      background-image: url("../images/logo--green.png");
      @include for-size('phone-only'){
        width: 60px;
        height: 21px;
      }
    }
  }
  li.main-nav-link--login { display: none; }
  li.main-nav-link--register { display: block; }
  li.main-nav-link--register a {
    display: inline-block;
    background: $green;
    position: absolute;
    right: 0;
    top: 0;
    padding: 27px 40px 24px;
    color: #fff !important;
    border: none;

    @include for-size('phone-only'){
      padding: 15px 30px 11px;
    }
  }
}


.page-template-front-page {
  .menu-main-nav {
    transform: translateY( 124px);
  }

  .menu-main-nav li.menu-item-has-children {
    display: none;
    @include for-size('tablet-portrait-up'){
      display: block;
    }
  }

  .menu-main-nav.sticky li.menu-item-has-children {
    display: none;
    @include for-size('tablet-portrait-up'){
      display: block;
    }
  }
}
/******************************************************************
HOMEPAGE HERO
******************************************************************/

section[class^="section--"]:not(.section--text-hero):not(.homepage--video-intro) {
  padding-bottom: 60px;
  @include for-size('tablet-portrait-up'){
    padding-bottom: 120px;
  }
}

.section--text-hero,
.homepage--video-intro  {

  & + section {
    padding-top: 60px;

    @include for-size('tablet-portrait-up'){
      padding-top: 120px;
    }
  }
}

.homepage--video-intro {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;

  &.showBG video {
    opacity: 0;
  }

  &.hideBG {
    @include for-size('tablet-portrait-up'){
      background: $blueDark !important;
    }
  }

  .inner-wrap {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  .homepage--video-intro__text {
    color: #fff;
    z-index: 2;
    width: 100%;
    @include for-size('tablet-portrait-up'){
      width: 80%;
    }
  }

  .homepage--video-intro-button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    position: relative;

    color: #fff;

    .icon {
      @extend .material-icons;
      vertical-align: middle;
      transition: all 0.3s;
      font-size: 19px;
    }

    span {
      text-transform: uppercase;
      @include font-size(14px);
      font-weight: bold;
      letter-spacing: 1px;
    }

    &:hover .icon { transform: translateX(2px); }
  }

  p {
    @include font-size(28px,true);
    font-weight: 100;
    @include for-size('tablet-portrait-up'){
      max-width: 630px;
    }
  }

  .homepage--video-intro__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
    @include for-size('phone-only'){
      display: none;
    }
  }

  #gform_1 {
    display: flex;
    flex-direction: row;

    label { display: none; }

    .ginput_container { margin: 0; }

    input {
      width: 100%;
      margin: 0;
      padding: 9px 14px 7px;
      border: none;
      border-radius: 0;
      background: rgba(0,0,0,0.3);
      height: 35px;
      color: $white;

      @include for-size('tablet-portrait-up'){
        height: 55px;
      }

      &.button {
        @extend %button;
        @include button-bg($yellow);
        width: auto;
      }
    }

    .gform_body {
      padding: 0;
      margin: 0;
      width: auto;
      flex: 1 0 auto;
      @include for-size('tablet-portrait-up'){
        flex: 0 0 320px;
      }
    }

    .gform_footer {
      padding: 0;
      margin: 0;
      flex: 0 0 auto;
      width: auto;
    }

    .gfield {
      margin: 0;
      padding: 0;
    }
  }
}

/******************************************************************
HOMEPAGE SECTION TEXT BANNER
******************************************************************/

.section--text-banner {
  text-align: center;

  h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size(14px);
    line-height: 1;
    font-weight: bold;
    color: #9B9B9B;
  }

  p {
    @include font-size(36px,true);
    font-weight: 100;
    margin: 0 auto;
    @include for-size('tablet-portrait-up'){
      max-width: 800px;
    }
  }
}

/******************************************************************
HOMEPAGE SECTION CAROUSEL
******************************************************************/

.section--carousel {
  padding-bottom: 800px !important;
  // background: orange;
  // position: relative;

  .homepage--carousel__feature {
    // position: absolute;
    // padding: 20vh 0 20vh;
  }
  // .carousel__feature__rightcol {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: auto;
  // }
}

.homepage--carousel__feature {
  @include clearfix;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // padding: 0vh 0 800px;
  width: 100%;
  height: 100%;

  left: 0;
  z-index: 100;

  .carousel__feature__rightcol {
    // opacity: 0;
    // visibility: hidden;
  }

  &:first-of-type .carousel__feature__rightcol { opacity: 1; visibility: visible; }

  & + & { z-index: 90; }
  & + & + & { z-index: 80; }
  & + & + & + &{ z-index: 70; }

  @include for-size('tablet-portrait-up'){
    flex-direction: row;
    padding: 20vh 0 20vh;
  }

  h2 {
    @include font-size(42px);
    line-height: 1.4;
  }

  p {
    @extend h4;
  }



  .carousel__feature__leftcol {
    text-align: center;
    flex:  0 0 40%;
    position: relative;
    align-self: center;


    @include for-size('tablet-portrait-up'){
      padding: 0 0 0 20%;
      text-align: left;
    }
  }

  .carousel__feature__rightcol {

    @include for-size('tablet-portrait-up'){
      width: 40vw;
      position: absolute;;
      top: 0%;
      right: 0%;
    }

    img {
      max-width: 100%;
      width: 100%;
      @include for-size('tablet-portrait-up'){
        width: 70%;
      }
    }
  }
}

.homepage--carousel__feature.screen-desktop {
  flex-wrap: wrap;

  .carousel__feature__leftcol {
    flex: 0 0 50%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    top: 0;

    @include for-size('tablet-portrait-up'){
      order: 2;
    }
  }
  .carousel__feature__rightcol {
    flex: 1 1 100%;
    left: 0;

    @include for-size('tablet-portrait-up'){
      order: 1;
      width: 100%;
    }

    img {
      width: 100%;
      max-width: 100%;
      // display: none;
    }
  }
}

.employers-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;

  img {
    opacity: 0.3;
    max-height: 85px;
    margin: 0 20px;
    filter: grayscale(100%);
  }
}

.employers-text {
  text-align: center;
  padding: 4rem 0;
  max-width: 800px;
  margin: 0 auto;
  p {
    @include font-size(22px,true);
    font-weight: 100;
    margin-bottom: 4rem;
  }

  a {
    @extend %button;
    @include button-bg($green);
  }
}

.section--jobs {

  .jobs-link {
    text-align: center;
    padding: 40px 0;
  }

  a.button {
    @extend %button;
    @include button-bg($green);
  }
}

.job-listing {
  @include clearfix;
  max-width: 800px;
  margin: 0 auto -1px;
  overflow: hidden;
  display: block;
  position: relative;
  transition: all 1.7s cubic-bezier(.19,1,.22,1);
  text-decoration: none;
  padding: 30px 10px;
  background: #fff;
  border-top: 1px solid #eee;

  &:first-child {
    // border: none;
  }

  &:hover {
    // border-color: transparent;
    // text-decoration: none;
    // z-index: 10;
    // max-width: 845px;
    // transition-duration: 0.7s;
    // transform: translateY(-2px);
    // box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.09);
  }

  &:last-child {
    border-bottom: 1px solid #F2F2F2;
  }
}

.job-listing__readmore {
  @extend %button;
  @include button-bg($black);
  position: absolute;
  top: 55%;
  right: -40px;
  border: none;
  box-shadow: 0px 9px 46px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(.19,1,.22,1),transform 2.5s cubic-bezier(.19,1,.22,1);
}

.job-listing__image {
  @extend .role-icon;
  float: left;
  position: relative;
  width: 47px;
  height: 48px;
  margin-right: 15px;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;

  @include for-size('tablet-portrait-up'){
    width: 70px;
    height: 58px;
    margin-right: 50px;
    font-size: 58px;
    line-height: 1;
  }
}

.job-listing__text {
  overflow: hidden;

  // float: left;
  // width: calc(100% - 47px - 15px);
  //
  // @include for-size('tablet-portrait-up'){
  //   width: calc(100% - 70px - 50px);
  // }
}

.job-listing__text {

  @include for-size('phone-only'){
    padding-top: 15px;
  }

  .job-listing__title { float: left; }
  .job-listing__location { float: left; }
  .job-listing__shifts { float: left; }
  .job-listing__salary { float: right; }
  .job-listing__category {  float: left; }
  .job-listing__expires { float: left; }
  p { overflow: hidden; font-weight: 100; @include font-size(14px); height: 24px; margin: 0; }
}

.job-listing__employer {
  float: left;
  @include font-size(18px);
  font-weight: 100;
}

.job-listing__title {
  position: relative;
  margin: 0 10px 0px 0;
  @include for-size('tablet-portrait-up'){
    margin: 5px 10px 10px 0;
    line-height: 1.3;
  }
}

.job-listing__open-positions {
  @include font-size(15px);
  background: $black;
  position: absolute;
  bottom: -12px;
  right: -15px;
  width: 26px;
  display: block;
  text-align: center;
  line-height: 26px;
  border-radius: 100%;
  color: #fff;
  text-indent: -1px;

  &:after {
    content:"x";
    font-size: 12px;
    font-weight: 100;
  }
}

.job-listing__category {
  @include font-size(14px);
  margin: 0 10px 0 0;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.job-listing__shifts,
.job-listing__location,
.job-listing__salary,
.job-listing__expires {
  @include font-size(14px);
  font-weight: 600;
  text-transform: uppercase;
  color: $black;
  opacity: 0.3;
  letter-spacing: 1px;
  margin-right: 15px;

  i {
    @include font-size(19px);
    position: relative;
    top: 4px;
    margin-right: 2px;
  }
}

.job-listing__expires {
  div {display: inline;}
}

.job-listing__shifts {
  &:after {
    content:" shifts";
  }
}

.job-listing__location {
  // color: $yellow;
  // opacity: 1;
}

.job-listing__salary {
  color: $green;
  opacity: 1;
  &:before { content:"CHF "; }
  &:after { content:" / Hour"; }
}

.section--text-hero {
  position: relative;
  overflow-x: hidden;
  background-size: cover;
  background-position: 50% 50%;
  padding: 30vh 0;

  h3 {
    @extend h1;
    color: $white;
    z-index: 1;
    margin: 0;

    @include for-size('tablet-portrait-up'){
      max-width: 75%;
    }

    @include for-size('tablet-landscape-up'){
      max-width: 60%;
    }
  }

  h3 + p,
  h3 + a {
    margin-top: 2em;

    @include for-size('tablet-landscape-up'){
      margin-top: 0;
    }
  }

  p {
    @extend h4;
    color: $white;
    @include for-size('tablet-portrait-up'){
      max-width: 75%;
    }

    @include for-size('tablet-landscape-up'){
      max-width: 40%;
    }
  }

  a {
    @extend %button;
    @include css-gradient(#43DA5C, #2AD189);

    @include for-size('tablet-landscape-up'){
      text-transform: none;
      padding: 3em 2.5em;
      @include font-size(26px);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-weight: 500;
      transition: all 1s cubic-bezier(.19,1,.22,1),transform 2.5s cubic-bezier(.19,1,.22,1);


      &:hover {
        margin-right: -10px;
        // transform: translateY(-50%) translateX(5px);
      }
    }

    i {
      vertical-align: sub;
      font-weight: bold;
      @include font-size(16px);

      @include for-size('tablet-landscape-up'){
        @include font-size(30px);
        vertical-align: bottom;
      }
    }
  }
}

.list-view-item {
  @include clearfix;
  display: block;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: -1px;
  padding: 35px 20px 25px;
  transition: all 1.7s cubic-bezier(.19,1,.22,1);
  position: relative;
  text-decoration: none;

  &:hover {
    background: #f3f3f3;
  }

  &:hover .job-listing__readmore,
  &:hover .blogposts__readmore {
    z-index: 2;
    transform: translateX(10px);
  }

  .job-listing__image {
    margin-top: 15px;
    transform: translateX(10px);
  }

  .job-listing__title {
    @include font-size(42px);
    max-width: 80%;
  }
}

.section--text-image {

  @include for-size('tablet-portrait-up'){
    padding-top: 120px;
  }
}

.text-image-row {
  display: flex;
  flex-direction: column;
  text-align: center;
  @extend .inner-wrap;

  @include for-size('tablet-portrait-up'){
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    max-width: none;
    text-align: left;
  }

  &:nth-child(even){
    flex-direction: column-reverse;

    @include for-size('tablet-portrait-up'){
      flex-direction: row-reverse;
      justify-content: center;
    }

    .text-image--text {
      @include for-size('tablet-portrait-up'){
        margin-left: 5%;
        margin-right: 0%;
        padding-top: 2vh;
      }
    }

    .text-image--image {
      margin-top: -30%;
      @include for-size('tablet-portrait-up'){
        margin-top: -10%;
      }
    }
  }

  .text-image--text {
    padding: 5vh 0 10vh;
    @include for-size('tablet-portrait-up'){
      flex: 0 0 350px;
      margin-right: 5%;
      padding: 10vh 0 20vh;
    }
  }

  .text-image--image {
    flex: 1 1 auto;
    padding: 0 0 0 30%;
    @include for-size('tablet-portrait-up'){
      padding: 0;
    }
  }

  &.text-image-row--portrait {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;

    .text-image--text {
      @include for-size('tablet-portrait-up'){
        flex: 0 0 350px;
      }
    }
    .text-image--image {
      position: relative;
      z-index: 2;
      padding: 0 55% 0 0;
      @include for-size('tablet-portrait-up'){
        flex: 0 0 27%;
        padding: 0;
      }
    }

    .image-box {
      padding-bottom: 177%;
    }
  }

  h2 {
    @include font-size(42px);
    line-height: 1.4;
  }

  p {
    @extend h4;
  }

  .image-box {
    box-shadow: 0px 85px 109px 0px rgba(0,0,0,0.15);
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 70%;
    width: 100%;
  }

}

/******************************************************************
3 POINTS SECTION
******************************************************************/
.section--text-3-columns {
  text-align: center;

  h2 { text-align: center; }

  p { margin: 0; }

  .text-columns {
    padding: 0 0 4rem;
    display: flex;
    flex-direction: column;

    @include for-size("tablet-portrait-up"){
      text-align: left;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .text-column__item {
    margin-bottom: 2rem;

    @include for-size("tablet-portrait-up"){
      flex: 0 0 25%;
      margin-bottom: 0;
    }

    h3 {
      @include for-size("phone-only"){
        margin-bottom: 0rem;
      }
    }

    /* one item */
    &:first-child:nth-last-child(1) {
    	flex: 0 0 50%;
      text-align: center;
    }

    /* two items */
    &:first-child:nth-last-child(2) { flex: 0 0 25%; margin-left: 12.5%; }
    &:first-child:nth-last-child(2) ~ .text-column__item { flex: 0 0 25%; margin-right: 12.5%; }

    /* three items */
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ .text-column__item {
    	flex: 0 0 25%;
    }

    p {
      font-weight: 100;
      letter-spacing: 0.5px;
    }

    .material-icons {
      font-size: 32px;
      color: $green;

      @include for-size("tablet-portrait-up"){
        margin-bottom: 2rem;
      }
    }
  }

  .text-column__button {
    @extend %button;
    @include button-bg($green);
  }
}

.section--text-3-columns.columns--vertical {

  .text-columns-split {
    @include clearfix;
    margin: 80px 0 0;

    @include for-size("tablet-portrait-up"){
      margin: 160px 0 0;
    }
  }

  .text-columns {
    background: #f9f9f9;
    padding: 70% 80px 40px 40px;
    margin-top: -40%;
    margin-right: -20px;
    width: 100%;
    float: right;
    text-align: left;

    @include for-size("tablet-portrait-up"){
      position: relative;
      z-index: 1;
      float: left;
      width: 50%;
      margin-top: -20px;
      padding: 80px 70px 80px calc(10% + 80px);
      display: flex;
      flex-direction: column;
    }

    .text-column__item {
      margin: 0 0 40px 0 !important;
      flex: 0 0 auto !important;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  .text-columns--image {
    width: 90%;
    margin-left: -20px;
    position: relative;
    z-index: 3;

    @include for-size("tablet-portrait-up"){
      margin-left: -10%;
      margin-right: -10%;
      float: left;
      width: 55%;
      box-shadow: 0px 85px 109px 0px rgba(0,0,0,0.15);

      max-height: 95vh;
      overflow: hidden;
    }

    img { display: block; width: 100%; max-width: 100%; }
  }
}

.page-template-default,
.job-template-default,
.blogpost-template-default {

  #content .inner-wrap {
    max-width: 800px;
  }

  .header:not(.header--hasImage) {
    padding-top: 190px;
    @include for-size("tablet-portrait-up"){
      margin-bottom: 60px;
      padding-bottom: 20px;
    }

    .menu-main-nav {

      &.sticky ul {
        padding: 0;
        padding-bottom: 0;
        border: none;

      }

      ul {
        padding: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;

        .main-nav-link--login a {
          @extend %button;
          @include button-bg($green);
          color: #fff !important;
          padding: 10px 30px 6px;
          min-width: 150px;
          text-align: center;
        }
      }
    }

    .menu-main-nav li.main-nav-link--logo a {
      background-image: url("../images/logo--black.png");
      opacity: 0.7;
    }

    a {
      color: $black !important;
    }
  }

  .article-header {
    margin-bottom: 40px;

    .article-header-meta {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      flex-wrap: wrap;
      @include for-size("tablet-portrait-up"){
        flex-wrap: nowrap;
      }
    }


    .job-listing__role,
    .job-listing__location,
    .job-listing__salary { flex: 0 0 auto; }

    .job-listing__shifts {
      @include for-size("tablet-portrait-up"){
        flex: 1 1 100%;
      }
    }

    .job-listing__role {
      display: inline;
      margin-bottom: 20px;
      flex: 1 1 100%;
      @include for-size("tablet-portrait-up"){
        flex: 0 0 auto;
      }

      i {
        @extend .role-icon;
        font-size: 20px;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;


        @include for-size("tablet-portrait-up"){
          font-size: 26px;
        }
        &:before {
          font-weight: bold;
        }
      }
      span {
        font-weight: bold;
        opacity: 0.3;
        @include for-size("phone-only"){
          @include font-size(22px);
          opacity: 1;
          font-weight: 100;
        }
      }
    }

    h1 {
      @include font-size(42px,true);
      line-height: 3rem;
      margin: 0 0 10px;
      font-weight: 100;
      @include for-size("tablet-portrait-up"){
        @include font-size(62px,true);
        line-height: 4.5rem;
      }
    }
  }

  .article-expire__date {
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size(14px);
    font-weight: bold;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  .entry-content {
    // @extend .d-2of3;
    // @extend .t-2of3;
    @include font-size(22px,true);
    color: #60605a;
    font-weight: 100;
    margin-bottom: 120px;
  }
}

.blogpost-template-default {
  .header--hasImage {
    min-height: 450px;
    background-size: cover;
    background-position: 50% 50%;
  }
  .blogpost {
    padding-top: 100px;
  }
}

.page-template-page-jobs,
.page-template-page-blog {

  .header {
    position: static;
    min-height: 50vh;
    padding: 140px 0 40px;
    background-size: cover;
    background-position: 50% 50%;

    h1 {
      color: $white;
    }
  }

  .entry-content--jobs,
  .entry-content--blogposts {
    margin-top: -100px;
    margin-bottom: 180px;
    padding: 0;
    box-shadow: 0px 55px 109px 0px rgba(0, 0, 0, 0.15);
    @extend .d-3of4;
    @extend .t-2of3;
  }

}

.entry-content--blogposts {
  .list-view-item {
    text-decoration: none;
    padding: 35px 0 25px 40px;

    .list-view-item__image {
      float: right;
      margin-left: 40px;
      margin-right: -40px;
    }

    .list-view-item__text {
      overflow: hidden;
    }
  }
  h2 {
    @include font-size(42px);
    margin: 0 0 10px;
    line-height: 1.4;
  }

  p {
    font-weight: 100;
    position: relative;
    max-width: 80%;

    &:after {
      content: "[...]";
      font-weight: 100;
    }
  }
}

.blogposts__date {
  text-transform: uppercase;
  @include font-size(14px);
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0.3;
  margin-right: 60px;

  i {
    @extend .material-icons;
    @include font-size(19px);
    position: relative;
    top: 3px;
  }
}

.blogposts__readmore {
  @extend %button;
  @include button-bg($black);
  border: none;
  position: absolute;
  top: 160px;
  right: 40px;
  transition: all 1.7s cubic-bezier(.19,1,.22,1);
  box-shadow: 0px 9px 46px 0px rgba(0, 0, 0, 0.15);
}

.blogposts__author {
  text-transform: uppercase;
  @include font-size(14px);
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0.3;

  i {
    @extend .material-icons;
    @include font-size(19px);
    position: relative;
    top: 4px;
  }
}


.page-template-default,
.job-template-default,
.blogpost-template-default {
  .footer {
    background: #ececec;
  }

  .footer-links .nav li.logo > a {
    background-image: url("../images/logo--black.png");
    opacity: 0.7;
  }

  .footer-links .nav li.no-link > a {
    color: rgba(0,0,0,0.3);
  }

  .footer-links .nav li a {
    color: #868686;
    font-weight: 600;

    &:hover { border-color: $black; }
  }
}

.simple-content-wrap {
  display: flex;

  p {
    font-weight: 100;
    letter-spacing: 0.5px;
  }

  .simple-content--text,
  .simple-content--image {
    padding: 0 20px;
  }

  [class^="simple-content"]:nth-child(1):nth-last-child(1) {
  	flex: 0 0 100%;
    margin: 0 auto;
    padding: 0;
    @include for-size("tablet-portrait-up"){
      flex: 0 0 50%;
    }
  }

  /* two items */
  [class^="simple-content"]:nth-child(1):nth-last-child(2),
  [class^="simple-content"]:nth-child(2):nth-last-child(1) {
  	flex: 1 1 50%;
  }

  /* three items */
  [class^="simple-content"]:nth-child(1):nth-last-child(3),
  [class^="simple-content"]:nth-child(2):nth-last-child(2),
  [class^="simple-content"]:nth-child(3):nth-last-child(1) {
  	flex: 1 1 33.333334%;
  }

  /* four items */
  [class^="simple-content"]:nth-child(1):nth-last-child(4),
  [class^="simple-content"]:nth-child(2):nth-last-child(3),
  [class^="simple-content"]:nth-child(3):nth-last-child(2),
  [class^="simple-content"]:nth-child(4):nth-last-child(1) {
  	flex: 1 1 25%;
  }

}

.simple-content--text .custom-form_wrapper {
  @include css-gradient(#43DA5C, #2AD189);
  box-shadow: 0px 85px 109px 0px rgba(0,0,0,0.15);
  padding: 3rem 2rem;
  max-width: 440px;
  margin: 0 auto;

  &.gform_wrapper .gfield_required { color: red; }

  .gform_body {
    width: 100% !important;
  }

  ul.gform_fields li.gfield {
    padding: 0;
  }

  .gfield_html {
    font-weight: 100;
    @include font-size(16px,true);
    color: $white;
  }

  ul.gform_fields label.gfield_label {
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size(14px);
    font-weight: bold;
    color: #fff;
  }

  input[type='text'].medium {
    width: 100%;
    max-width: none;
    background: $white;
    border-radius: 0;
    padding: 5px 10px !important;
  }

  .gform_footer input[type=submit] {
    @extend %button;
    @include button-bg($yellow);
    display: block;
    width: 100%;

  }
}

.section--bullet-points {
  @include clearfix;

  .bullet-points__text {
    @include font-size(36px,true);
    font-weight: 100;
    text-align: center;
    margin-bottom: 2rem;

    @include for-size("tablet-portrait-up"){
      text-align: left;
      float: left;
      width: 50%;
      padding-right: 20px;
      margin-bottom: 0;
    }
  }

  .bullet-points {
    @include for-size("tablet-portrait-up"){
      float: right;
      width: 40%;
    }
  }

  hr {
    max-width: 400px;
    margin: 6rem auto 0;
    height: 1px;
    background: #eee;
    border: none;
  }
}

.bullet-points__button {
  float: left;
  width: 100%;
  margin: 3rem 0 0;
  text-align: center;

  a {
    @extend %button;
    @include button-bg($green);
  }
}


.bullet-points {
  @include clearfix;
  padding-top: 7px;

  .bullet-points__item {
    @extend .m-1of2;
    @extend .d-1of2;
    font-weight: 100;
    padding-right: 20px;
    margin: 0 0 5px;

    i {
      vertical-align: middle;
      color: $green;
      margin-right: 15px;
      margin-top: -1px;
      float: left;
    }

    span {
      display: block;
      overflow: hidden;
    }
  }
}


/******************************************************************
FOOTER LINKS
******************************************************************/

.footer {
  padding: 40px 0;
  background: $brown;
  text-align: center;
  @include for-size("tablet-portrait-up"){
    text-align: left;
  }
}

.footer-links .nav {
  display: flex;
  flex-direction: column;
  padding: 0;

  .sub-menu {
    padding: 0;
  }

  @include for-size("tablet-portrait-up"){
    flex-direction: row;
  }

  li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size(12px);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;

    &:hover { border-bottom: 1px solid #fff; }

    @include for-size("phone-only"){
      @include font-size(18px);
    }

  }

  // Column labels. They are just special links
  li.no-link > a {
    @extend %no-link;
    font-weight: bold;
    color: rgba(255,255,255,0.3);
    display: block;

    @include for-size("tablet-portrait-up"){
      height: 60px;
    }
  }

  li.logo > a {
    width: 110px;
    height: 40px;
    background: url("../images/logo--white.png") no-repeat;
    background-size: contain;
    display: inline-block;
    text-indent: -99999px;
    margin-bottom: 20px;

    &:hover { border-bottom-color: transparent; }

    @include for-size("tablet-portrait-up"){
      height: 60px;
      margin-bottom: 0px;
    }
  }

  li.button-apple a,
  li.button-google a {
    background: url('../images/button-apple.png');
    width: 135px;
    height: 40px;
    text-indent: -99999px;
    display: inline-block;
    background-size: cover;
    margin-top: 15px;
    border: none;

    &:hover { border: none; }
  }

  li.button-google a { background-image: url('../images/button-google.png'); }

  li {
    flex: 1 1 auto;
  }
}

.footer .copyright {
  color: rgba(255,255,255,0.3);
  @include font-size(12px);
  text-transform: uppercase;
  letter-spacing: 1px;
}
