/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name: LINX by STUDIO YCNE
Author: Yacine Belarbi

Stylesheet: Main Stylesheet

******************************************************************/

@import "partials/normalize";

// Sass variables
@import "partials/variables";

// import mixins
@import "partials/breakpoints";

// import mixins
@import "partials/vertical-spacing";

// typography
@import "../fonts/fonts";

// typography
@import "partials/typography";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

/******************************************************************
BASE
******************************************************************/

html {
  @include font-size($base-font-size,$base-line-height);
  font-family: $sans-serif;
}

.inner-wrap {
  @include clearfix;
  max-width: 1200px;
  margin: 0 auto;
}

/******************************************************************
HEADER
******************************************************************/
